<!-- servtef/templates/servtef/lista.Usuarios.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column is-one-half">
  <div class="box">
    <h1 class="title is-4 has-text-centered">
          Usuários
    </h1>
  </div>

  {% for user in page_obj %}

    <div class="message is-info">

    <div class="field is-horizontal is-small">
            <div class="field-label">
                <label class="label">Loja: </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="label">{{ user.loja.nomeLoja }} </label>
                    </div>
                </div>
            </div>

            <div class="field-label ">
                <label class="label">Nome: </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="label ">{{ user.user.username }} </label>
                    </div>
                </div>
            </div>

            <div class="field-label ">
                <label class="label">Perfil: </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="label ">{{ user.nome_perfil.nomePerfil }} </label>
                    </div>
                </div>
            </div>

           <div class="field-label">
                <label class="label">E-mail: </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="label ">{{ user.user.email }} </label>
                    </div>
                </div>
            </div>
    </div>
    </div>
  {% endfor %}

{% block pagination %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page_obj.has_previous %}
            <a class="pagination-previous"
               href="{% url 'servtef:listadadosusuarios' page_obj.previous_page_number codloja%}">Anterior</a>
        {% else %}
            <a class="pagination-previous is-disabled">Anterior</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="pagination-next"
               href="{% url 'servtef:listadadosusuarios' page_obj.next_page_number codloja %}">Próxima</a>
        {% else %}
            <a class="pagination-next is-disabled">Próxima</a>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
            <ul class="pagination-list">
                <li>
                    {% if page_number != page_obj.number %}
                        <a class="pagination-link"
                           href="{% url 'servtef:listadadosusuarios' page_number codloja%}">
                        <!---<a class="{% if page_number == page_obj.number %}aria-current{% endif %}">--->
                        {{page_number}}
                        </a>
                    {% else %}
                        <a class="pagination-link is-current"
                           href="{% url 'servtef:listadadosusuarios' page_number codloja%}">
                        {{page_number}}
                        </a>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    </nav>
{% endblock %}

</div>



{% endblock content %}