<!--servtef/templates/servtef/seleciona.Pend.html-->

{% extends 'base.html' %}

{% block content %}
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<div class="column is-one-third"></div>
<div class="column is-one-third">
    <div class="box">
        <div class="block">
            <h1 class="title is-5 has-text-centered">
                Seleção dos registros
            </h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_table}}
            <p class="is-size-5 has-text-centered has-text-warning-light"> <strong> {{msg}}</strong>
            </p>
            <div class="buttons has-addons is-centered">
             <button class="button is-success" name="opcao" value="confirma">Confirma</button>
             <button class="button is-danger" name="opcao" value="cancela">Cancela</button>
        </div>
        </form>
        </div>
    </div>
</div>
<div class="column is-one-third"></div>
{% endblock %}

